body{
    /* font-family: 'Courier New', Courier, monospace; */

}
.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 250px;
    height: 250px;
    background-color: rgb(125, 93, 169);
    margin-top: -140px;
    margin-left: -140px;
    border-radius: 20%;
    border: 1rem ridge rgb(66, 64, 64);
}

.frame::before{
    position: absolute;
    content: '';
    width: 400px;
    height: 100px;
    background-color: rgb(18, 16, 16);
    top: 30%;
    right: -70px;
    z-index: -1;
    border-radius: 5px;
}
/* input screen */
.screen{
    display: flex;
    margin: auto;
    width: 70%;
    height: 70px;
    padding-bottom: 5px;
    background-color: rgb(4, 4, 4);
    border-radius: 20px;
    box-shadow:  0px 0px 5px rgb(13, 13, 13);
     justify-content: center;
}
p{
    color: white;
    letter-spacing: 2px;
}
#count{
    font-family: 'Courier New', Courier, monospace;
    color: white;
    text-align: center;
    padding-bottom: 10px;
}
/* buttons > count + reset */
#count-btn{
    color: rgb(55, 207, 25);
    text-align: center;
    padding-top: 1.7rem;
    padding-left: 0.7rem;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: none;
    display: flex;
    margin:auto;
    margin-top: 1.5rem;
    box-shadow:  0px 0px 5px rgb(13, 13, 13);
    background-color: rgb(4, 4, 4);
    border: 1px solid rgb(124, 184, 35);
}
#reset-btn{
    color: red;
    font-weight: bold;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: none;
    display: flex;
    margin:auto;
    padding:0.5rem ;
    padding-left: 0.6rem;
    margin-right: 2rem;
    margin-top: -5rem;
    box-shadow:  0px 0px 5px rgb(13, 13, 13);
    background-color: rgb(4, 4, 4);
    border: 1px solid rgb(176, 37, 21);

}